.container {
    margin: 20px;
}
.col-sm-12 {
  margin-bottom: 30px;
}
header {
  font-family: 'Quicksand', sans-serif;
  width: 60%;
  float: left;
  padding-top: 10px;
}
header h1 {
  color: #00cccc;
  margin-top: 40px;
}
header img{
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
small {
  color: #737373;
  padding-left: 25px;
}
nav{
  width: 40%;
  float: left;
  text-align: right;
}
nav ul{
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
}
nav ul li {
  display: inline;
  padding: 20px;
}
nav ul a  {
  color: #00cccc;
  font-size: 20px;
}
nav ul a:hover {
  color: #595959;
  text-decoration: none;
}
nav li.current {
  font-weight: bold;
}
p {
  font-size: 15px;
  padding: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-4 {
  background-color: #f2f2f2;
  border: 3px solid #fff;
  border-bottom: 15px solid #fff;
  display: flex;
  flex-direction: column;
}
.col-sm-4 h3 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.col-sm-4 h3 a {
  color: #000;
}
.col-sm-4 h3 a:hover {
  text-decoration: none;
  color: #737373;
  font-size: 25px;
}
.col-sm-4 p.description {
  padding-top: 15px;
}
.about {
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 5px;
}
.about h3 {
  font-family: 'Quicksand', sans-serif;
  color: #00cccc;
  font-weight: bold;
}
.about p, li{
  font-size: 18px;
}
.pronounce {
  font-style: italic;
  font-weight: bold;
}
.break {
  display: none;
}
.click {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 10px;
}
h2.work {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #00cccc;
}
footer {
  text-align: center;
  margin: 30px;
}

@media screen and (max-width: 1200px) {
  .break {
    display: inline;
  }
}
@media screen and (max-width: 1000px) {
  header h1 {
    margin-top: 30px;
  }
  nav ul li {
    display:list-item;
    padding: 10px;
    float: none;
  }
}
